<div class="d-flex justify-content-center pt-0">
  <%= button_to "Check mail", emails_path, title: "Click to recieve a new mail *^0^*", class: "btn btn-primary mb-5", remote: true %>
</div>
<div class="container d-flex justify-content-between">
  <div class="col-4" id="email_list">
    <div class="card-header font-weight-bolder">
      Your mails
    </div>
    <ul class="list-group list-group-flush">
      <% @emails.sort.reverse.each do |e|%>
        <li class="list-group-item" id="<%= e.id %>">
          <%= link_to email_path(e.id), remote: true do %>
              <%= e.object%>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-8" id="email_detail">
    <%= render "empty_detail"%>
  </div>

</div>
